# Example switch configuration (access + trunk + VLANs)
configure terminal
hostname DSW1

vlan 10
 name USERS
vlan 20
 name SERVERS
vlan 99
 name MGMT

interface GigabitEthernet0/1
 description Uplink to Router
 switchport mode trunk
 switchport trunk native 99
 switchport trunk allowed vlan 10,20,99
 no shutdown

interface GigabitEthernet0/2
 description Workstation access
 switchport mode access
 switchport access vlan 10
 spanning-tree portfast
 no shutdown

interface GigabitEthernet0/3
 description Server access
 switchport mode access
 switchport access vlan 20
 no shutdown

ip default-gateway 192.168.99.1
end
write memory
